*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #412567;
      font-family: "Inter", sans-serif;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 846px;
    margin: 0 auto;
    padding-top: 30px;
}
.logo{
    font-weight: bold;
    font-size: 49px;
}
.navhead{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.btn{
    background-color: #F82DBC;
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
}
.humber{
    display: none;
}

/* responsive nav bar */
@media screen and (max-width:576px) {
    .nav_container{
        flex-direction: row;
    }
    .navhead{
        display: none;
    }
    .btn{
        display: none;
    }
    .logo{
        margin-left: 20px;
        align-self: flex-start;
    }
    .humber{
        display: block;
        margin-left:auto;
        margin-right: 30px;
        position: static;
        width: 24px;
        cursor: pointer;
        
        
    }
    
}

