*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #412567;
      font-family: "Inter", sans-serif;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 846px;
    margin: 0 auto;
    padding-top: 30px;
}
.logo{
    font-weight: bold;
    font-size: 49px;
}
.navhead{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.btn{
    background-color: #F82DBC;
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
.humber{
    display: none;
}
/* hero section */
.hero{
    padding-top: 100px;
}
.hero_image{
  /* display: flex; */
  position: relative;
  width:846px ;
  margin: 0 auto;
  
}
/* .hero_image img{
    display: block;
    width: 100%; */

.hero_img_1{
    width: 100%;
    display: block;
}
.hero_img_2, .hero_img_3{
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.hero_img_2{
    width: 20%;
}
.hero_img_3{
    width: 5%;
}
.new{
    position: absolute;
    top: 23%;
    right: 40%;
    background-color: rgb(99, 203, 99);
    color: white;
    padding: 2px 7px;
    font-size: 10px;
    border-radius: 10px;
    z-index: 10;
}
.hero-content{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
    color: white;       
        
}
.hero_head h2{
    padding-bottom: 10px;
    font-size: 22px;

}
.hero_head p{
    padding-bottom: 15px;
    font-size: 16px;
}
.hero_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.btn-1, .btn-2{
    background-color: #F82DBC;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    
}
.btn-2{
    background-color: transparent;
    border: 2px solid green;
    color: greenyellow;

}
/* main section design */
.main_container{
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 846px;
    margin: 0 auto;
    /* padding-top: 15px; */
}
.main_des{
    text-align: center;
    margin-bottom: 80px;
}
.main_des h2{
    color: white;
    padding-top: 50px;
    padding-bottom: 16px;
}
.main_des p{
    color: white;
    font-size: 16px;
}
.main_rate{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 80px;
}
.main_rate h1{
    color: #00FF7B;
}
.main_rate p{
    color: #FFFFFF;
}
/* grid section */

 .grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 24px;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

.section_title {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

/* Cards */
.item {
    background: #2a0e46;
    border-radius: 20px;
    padding: 30px;
    color: #fff;
}

.item img {
    width: 40px;
    margin-bottom: 16px;
}

.item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.item p {
    font-size: 15px;
    line-height: 1.6;
    color: #cfc6dc;
}
.item:nth-child(2) {
    grid-row: span 2; /* 1st item */
}
.item:nth-child(3) {
    grid-column: span 2; /* 1st item */
}
.item:nth-child(4) {
    grid-column: span 2; /* 1st item */
}
.item:nth-child(5) {
    grid-column: span 2; /* 1st item */
}
.feture_head{
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
.youtube_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 846px;
    margin: 0 auto;
    gap: 10px;
    
}
.youtube h3{
    color: #FFFFFF;
    /* font-size: 16px; */
    font-weight: bold;
    margin: 24px 12px;
}
.youtube p{
    color: white;
    font-size: 16px;
    margin-bottom: 12px;
}
.youtube img{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    }
.host_heading{
    text-align: center;
    margin-bottom: 40px;
    color: white;
}
.host_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 846px;
    margin: 0 auto;
    gap: 10px;
    background-color: #4C2087;
    height: 250px;
    border-radius: 20px;
}
.host_image{
    
    margin: 40px 20px;
    
}

.host_details h2{
    color: white;
    font-weight: bold;
    padding-bottom: 16px;
}
.host_details p{
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
}

 .icon-wrapper {
    display: flex;
    gap: 20px;
}

.icon-box {
    width: 40px;
    height: 40px;
    border: 2px solid #4f46e5; 
    border-radius: 50%;        
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-box:hover{
    cursor: pointer;
    background-color: rgb(17, 237, 43);
}

.icon-box img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
footer{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px;
    color: #FFFFFF;
    position: relative;
    
    
}
.footer_container{
    text-align: center;
    width: 100%;
    max-width: 846px;
    margin: 0 auto;
    gap: 20px;
    height: 250px;
    border-radius: 20px;
}
.footer_container_head{
    font-size: 60px;
    font-weight: bold;
    margin-top: 0;
}
.icon-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-icon-box {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer-icon-box img {
    width: 22px;
    height: 22px;
}


/* responsive nav bar */
@media screen and (max-width:576px) {
    .nav_container{
        flex-direction: row;
    }
    .navhead{
        display: none;
    }
    .btn{
        display: none;
    }
    .logo{
        margin-left: 20px;
        align-self: flex-start;
    }
    .humber{
        display: block;
        margin-left:auto;
        margin-right: 30px;
        position: static;
        width: 24px;
        cursor: pointer;
        
        
    }
    /* responsive hero bar */
    .hero{
        padding-top: 60px;
        
    }
    
    .hero_image{
        width: 100%;
        max-width: 100%;
        
        padding: 0 16px;
        
    }
    .hero_image_1{
        width: 100%;
        height: auto;
    }
    .hero_image_2{
        width: 35%;
        top: 35%;
    }
    .hero_image_3{
        width: 8%;
        top: 35%;
    }
    .hero-content {
        bottom: 3%;
        width: 90%;
        padding: 0 10px;
        position: absolute;        
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .hero_button {
        display: flex;
        /* flex-direction: column; */
        align-items: stretch;
        gap: 12px;
        width: 100%;
    }
    .hero_head{
        display: none;
    }
    .hero_head h2 {
        font-size: 22px;
    }
    .hero_head p {
        font-size: 16px;
        /* line-height: ; */
    }
    .btn-1,
    .btn-2 {
        width: 100%;
        justify-content: center;
        font-size: 14px;
        padding: 12px;
    }
    .btn-1 img,
    .btn-2 img {
        width: 18px;
        height: auto;
    }
    
    .hero_head{
        margin: -50px;
        
    }
    /* responsive main bar */
    .main_rate{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    /* grid responsive */
    .grid_container{
        display: block;
        grid-template-columns: 1fr;
        row-gap: 10px;
        
    }
    /* responsive fature bar */
    .youtube_container{
        display: block;
        grid-template-columns: 1fr;
    }
    .youtube iframe{
        width: 100%;
        border-radius: 10px;
    }
    /* host details responsive */
    .host_container{
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }
    .host_details h2{
        text-align: center;
        }
    .host_details p{
        margin: 20px;
        text-align: center;
    }
    .icon-wrapper{
        justify-content: center;
        margin-bottom: 40px;
    }
    /* footer section responsive */
    .icon-footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 10px; */
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 255px;
        margin-left: 130px;
        /* padding: 56px 72px; */
    }
    
     
   
}

